.category-link {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  align-items: center;
}

.category-link img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.category-link h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
