header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #1ebae5;
}

.store-icon {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.logo-icon {
  width: 100%;
  height: 80%;
}
