header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #584f4c;
  /* background-color: #88807a; */
  /* #584f4c */
}

.start {
  margin: 0;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-family: cursive;
  text-decoration: none;
}

nav img {
  cursor: pointer;
}

.store-icon {
  width: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.shoe-icon {
  width: 50px;
  position: absolute;
  top: 20px;
  right: 100px;
}

.logo-icon {
  width: 100px;
  height: 70px;
}

.hero-container {
  width: 100%;
  height: 555px;
}

.hero-container img {
  width: 100%;
  height: 100%;
}
